.footer {
  background-color: #3C486B;
  color: #FOFOFO;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.footer__text {
  font-size: 14px;
  margin: 0;
}

.footer__text::before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 6px 10px 6px;
  border-color: transparent transparent #F45050 transparent;
  transform: translateY(-2px);
}
